<div class="trad-cv">
{%- for tag in site.data.resume_meta.cv_grouping -%}
  <h3 class="exp-group-header">
    {{ tag | capitalize }}
    {%- if tag != "independent" %}
      Experience
    {%- else %}
      Projects
    {%- endif %}
  </h3>
  <hr class="group-separator">
  {%- for exp in site.data.experience -%}
  {%- if exp.type[0] == tag -%}
  <div class="exp">
    <div class="meta">
      <span class="job">
        <b class="role">{{ exp.role }}</b>
        {%- if exp.project -%}
        <span class="project">, {{ exp.project }}</span>
        {%- endif -%}
        <i class="org">
          {%- if exp.organization.suborg -%}
            {{ exp.organization.suborg }}
            -
          {% endif -%}
          {{ exp.organization.primary }}
        </i>
      </span>
      <span class="date">
        {%- assign start_month = exp.start_date | date: "%B" -%}
        {%- assign end_month = exp.end_date | date: "%B" -%}
        {%- if start_month != end_month -%}
          {{ start_month }}
          {% assign start_year = exp.start_date | date: "%Y" -%}
          {%- assign end_year = exp.end_date | date: "%Y" -%}
          {%- if start_year != end_year -%}
            {{ start_year }}
          {% endif %}
          –
        {% endif -%}
        {%- if exp.end_date -%}
          {{ exp.end_date | date: "%B %Y" }}
        {%- else -%}
          Present
        {% endif -%}
      </span>
    </div>
    <ul class="description">
      {%- for line in exp.description -%}
      <li>{{ line }}.</li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
</div>

