body {
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', sans-serif;
}

main {
  padding: 1rem;
}

div.trad-cv {
  h3 {
    margin-bottom: 0em;
  }
  max-width: 595px;
  margin: 0px auto;
  ul.description {
    margin-top: .25em;
  }
  div.exp {
    // border: 1px solid black;
    div.meta {
      display: flex;
      flex-flow: row wrap;
      span.job {
        display: flex;
        flex-flow: column nowrap;
        i.org {
          font-size: .9em;
        }
      }
      span.date {
        margin-left: auto;
      }
    }
  }

}

nav.main {
  display: flex;
  flex-flow: row-reverse wrap;
  a, a:link, a:visited, a:hover {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: blue;
  }
  a.active {
    color: red;
  }
}
