.modern-cv {
  .education {
    display: none;
  }
  max-width: 595px;
  margin: 0px auto;
  .exp:not(:last-child) {
    margin-bottom: 2em;
  }
  .exp {
    padding: 1em;
    box-shadow: $glow-top $text-color, $glow-bottom $text-color;
    .project {
      margin-left: .5rem;
    }
    .description {
      margin-top: 0.5em;
      margin-bottom: 0;
      overflow: hidden;
      max-height: 0px;
      transition-property: max-height, box-shadow;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
    }
  }
  .exp:hover {
    .role {
      color: $success;
    }
    box-shadow: $glow-top $success, $glow-bottom $success;
    .description{
      max-height: 200px;
      // .item:hover {
      //   color: $success;
      // }
    }
  }
}
